.url-shortener-section {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.card-style-container {
  width: 100%;
  min-height: 55%;
  height: fit-content;
  padding: 2.85vw 3.5vw;
  border-radius: 1.25vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.dot-animation {
  font-size: 5vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInWithLetterSpacing 0.75s ease-in-out infinite;
}

@keyframes fadeInWithLetterSpacing {
  0%,
  100% {
    opacity: 1;
    letter-spacing: normal;
  }
  50% {
    opacity: 0.1;
    letter-spacing: 0.35vw;
  }
}
